numpy
pandas
opencv-python
scikit-learn
tensorflow
torch
torchvision
Pillow
matplotlib
tqdm
PyPDF2
imgaug
seaborn
jupyter
notebook
pdf2image
pytesseract
scipy
transformers
indic-nlp-library
sentence-transformers
pysolr
flask
scikit-image
scipy
